*{
    font-family: 'Montserrat', sans-serif;
}
.fLongURL, .fShortURL{
    padding: 20px;
}
.fLongURLInput, .fShortURLInput{
    padding: 12px;
    width: 240px;
    outline-style: none;
    border: 2px solid rgb(40, 194, 129);
    border-radius: 4px;
    color: rgb(57, 57, 57);
}
.fLongSubmitBtn, .fShortSubmitBtn{
    padding: 12px;
    margin: 0px 0px 0px 12px;
    background-color: #28c281;
    color: #ffffff;
    font-weight: 500;
    border: 2px solid rgb(40, 194, 129);
    border-radius: 4px;
    cursor:pointer;
}
.copyTextBtn{
    outline: none;
    border: none;
    background-color: hsla(0, 0%, 100%, 0);
    color: blue;
    cursor: pointer;
}
